body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-container{
    margin: auto;
    background-color: aqua;
    width: 450px;
    
}
.top-container{
    display: flex;
    background-color: rgb(255, 111, 0);
    margin: 0;
}

.bottom-container{
    margin: 0;
    background-color: rgb(255, 0, 153);
}